.calk {
    display: grid;
    height: 400px;
    width: 400px;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
    background-color: gray;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  input {
    grid-column: 1/4;
    font-size: 30px;
  }